body {
	margin: 0;
	padding: 0;
	background-image: url("../images/login2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.sign-in,.sign-up,.forgot,.change {
	padding: 20px;
	width: 250px;
	height: 400px;
	margin: auto;
	margin-top: 80px;
	background-color: rgba(165,42,42, 1.0);
	box-shadow: rgba(44, 62, 80, 0.8) 13px 13px;
}

 h2 {
	color: #fff;
	text-transform: capitalize;
	text-align: center;
	margin-bottom: 50px;
	text-shadow: black 5px 2px;
}

input {
	display: block;
	padding: 10px 0px;
	width: 100%;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	background: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	font-family: 'Play', sans-serif;
	font-size: 16px;
	font-weight: 200px;
	color: #fff;
}

::placeholder {
	color: aliceblue;
	opacity: 0.8;
}

input[type=submit] {
	
	width: 200px;
	background: white;
	line-height: 25px;
	border-radius: 15px;
	color: #000;
	margin-bottom: 100px;
	font-weight: bolder;
}

input[type=submit]:hover {
	background:gray;
	color: white;
}

a {
	color: yellow;
	text-decoration: blink;
}

a:hover {
	color: skyblue;
}

.row {
	width: 100%;
	display: table;
}

.col {
	width: 50%;
	display: table-cell;
	text-align: center;
	padding: 10px 5px;
	background-color: brown;
	border-radius: 30px;
}

.sign-up {
	height: 450px;
}
.forgot {
	height: 300px;
}
.change {
	height: 350px;
}



