body {
	background-color: purple;
	padding: 40px;
}

h1 {
	text-align: center;
	background-color: black;
	padding: 10px 5px;
	color: white;
}

hr {
	height: 2px;
}

p {
	color: white;
	padding: 10px 5px;
}