body{
	padding-top: 60px;
	padding-bottom: 40px;
}

.fixed-header, .fixed-footer {
	width: 100%;
	position: fixed;
	background: black;
	padding: 10px 0;
	color: white;
}

.fixed-header {
	top: 0;
}

.container{
	width: 80%;
	margin: auto;
}
.container p{
	text-align: justify;
	color: gray;
}
nav a{
	color: #fff;
	text-decoration: none;
	padding: 7px 25px;
	display: inline-block;
}
.fixed-footer {
	bottom: 0;
}